

#fondo-black{
  background-color:rgb(0, 0, 0);

}

body{
  padding: 0px;
  
}
a:focus{
width: 0px;
height: 0px;
outline: 0px;

}
.content{
padding: 5rem 2rem !important;
}

.cont{
  max-width: 65rem;
margin: 0px auto;
}

  #colorFondo{
      background-color: rgba(0, 0, 0, 0.966);
      position: relative;
     z-index: 0;}
     

.particles{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -3;
 
}
.particles-black{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -3;
 
}

#fondo-white{
  background-color: white;
}
.index{
  position:relative;
  z-index: 0;

}
.index-2{
  position: relative;
  z-index: 0;
}




input[type="text"],
input[type="email"],
input[type="tel"],

input[type="password"],
select{
  
  border: 2px solid white!important;
  box-shadow: 0px 0px 5px rgb(8, 8, 7) inset!important;
  background-color:rgba(255, 255, 255, 0.699)!important;
  padding: 1rem!important;
  color: rgb(0, 0, 0)!important;
  transition: all 300ms!important;
  text-align: center!important;
  width: 100%!important;
  border-radius: 10px !important;
}

/* para quitar flechita del select*/
select{
   -webkit-appearance: none;
   -moz-appearance: none;
}
/**/

textarea {
  
  border: 2px solid rgb(247, 244, 244)!important;
  box-shadow: 0px 0px 5px rgb(8, 8, 7) inset!important;
  background-color:rgb(255, 255, 255)!important;
  padding: 0.8rem!important;
 color: rgb(5, 5, 5) !important;
  transition: all 300ms!important;
  text-align: center!important;
  width: 100%!important;
  border-radius: 10px !important;

}
textarea:focus{
  border:1px solid rgb(12, 14, 10)!important;
color:black!important;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="textarea"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
select:focus{
border:1px solid rgb(12, 14, 10)!important;
color:rgb(3, 3, 3) !important;

}



input[type="button"],
input[type="submit"],
input[type="reset"],
button{
  font-size: 1.5rem!important;
padding: 0.5rem!important;
width: 100%!important;
border: 1px solid black!important;
color: rgb(255, 255, 255)!important;
background-color: rgba(0, 0, 0, 0.719)!important;
text-transform: uppercase!important;
border-radius: 10px !important;
}
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover{
box-shadow: 0px 0px 5px black!important;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active{
box-shadow: 0px 0px 10px black inset!important;

font-weight: bold!important;
}

/*ICONOS REACT*/
.react-icons {
  color:rgb(255, 250, 250) ;
  
}
.react-icons:hover{
 color:rgb(247, 96, 234);
}
.wa:hover{
 color: green;

}
.react-icons:active{
padding: 1rem;
border-radius: 50px;
box-shadow: 0px 0px 15px rgb(255, 254, 254) inset;
 color: rgb(255, 255, 255);
}

.alerta-error{
  background-color: rgb(248, 246, 246);
  color:rgb(141, 3, 3);
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
  margin: 0px auto;
  margin-top: 5rem;
  text-transform: uppercase;
  border-radius: 50px;
  max-width: 50rem;
}