
/*.frase{
    width: 220px;
   background-color:rgba(255, 255, 255, 0.74);
    margin: 30px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0) inset;
    border-radius:20px 0px  ;
    padding: 20px;
    text-align: justify;
  
    
}
.frase div{
    background-color: rgba(3, 3, 3, 0.651);
    width: 70%;
    text-align: center;
    margin: 0px auto;
   padding: 5px;
 
   
}
.frase div:hover{
    
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-shadow: 0px 0px 10px white;
    border-radius:0px 30px 0px 30px;
    transition: all 1000ms;
}
.frase div{
    border-radius: 50px;
}

.frase a{
    color:rgba(255, 251, 251, 0.849);
  font-size: 20px;

}
.frase a:hover{
    text-decoration: none;
    color: white;
}*/



.fondo-2{
    width: 30rem;
    background-color:  rgb(255, 255, 255);
    border-radius: 50px;
    color: rgb(0, 0, 0);
    position: absolute;
    z-index:-1;
    margin: 0px 2rem;
    
}


@media (min-width: 1200px) {
    .fondo-2 {
        
        width: 70%;
        background-color:  rgb(255, 255, 255);
        border-radius: 50px;
        color: rgb(0, 0, 0);
        position: absolute;
        z-index:-1;
        margin: 0px 1rem;
 
        
    }
  }

  @media (min-width: 1300px) {
    .fondo-2 {
        
        width: 65%;
        background-color:  rgb(255, 255, 255);
        border-radius: 50px;
        color: rgb(0, 0, 0);
        position: absolute;
        z-index:-1;
        margin: 0px 1rem;
 
        
    }
  }
.fondo-2 h3{
    margin-left: 5rem;
    margin-top: 1.1rem;
    padding: 1rem;
    font-weight: bold;
    text-shadow: 0px 0px 5px rgb(14, 13, 13)

}
@media (min-width: 768px) {
    .fondo-2 h3 {
        padding: 1.3rem;
   padding-left: 5rem;
    font-size: 2.2rem;
    }
  }
  @media (min-width: 1500px) {
    .fondo-2 h3 {
        padding: 1rem;
   padding-left: 7rem;
    font-size: 2.8rem;
    }
  }

#aside{
    width: 50rem;
   margin: 0px auto;
}
@media (min-width: 1200px) {
   #aside {
    width: 15rem;
    margin: 0px 15% ;
    }
  }



#aside h3{
    color: rgb(7, 7, 7);
    width: 100%;
    text-align: center;
    font-weight: bold;
text-shadow: 0px 0px 5px rgba(8, 7, 7, 0.74);

}

.widget{
    background-color: rgb(8, 8, 8);
    border-radius: 50px;
/*padding: 10px;*/
border-bottom: 1px dashed rgba(0, 0, 0, 0.336);

}
.widget:last-child{
    border-bottom: none;
}
.widget form{
    text-align: center;
}
.widget form label{
    text-transform: uppercase;
}
.widget ul {
    padding: 0.1px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.widget ul li{
    list-style: none;
    padding: 1rem ;
}

/*.widget ul li:hover {
  background-color: rgba(0, 0, 0, 0.699);
   
    border-radius:0px 50px 0px 0px;
    transition: all 1000ms;
}
*/


.widget ul li a{
    
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.widget ul li:hover a{
    text-transform: uppercase;
    color: white;
    text-shadow: 0px 0px 10px white;
}
.widget ul li a{
    text-transform: uppercase;

    text-shadow: 0px 0px 10px white;
}


input[type="submit"]{
    width: 50%;
    border-radius: 50px ;
    background-color: rgba(0, 0, 0, 0.692);
    border: 2px solid rgba(0, 0, 0, 0.473);
}


