.cabezera{
    width: 95%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
       
  
    }
    
    .App-logo{

        background-image: url("/src/App/Gallery/II.-Link.web-Logo-Sin-Fondo.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 35rem;
        height: 20rem;
            }