@import-normalize;

html {
 
  font-size: 62.5%;
  /*reset de rem*/
}

body {
  margin: 0;
  font-family: 'Roboto Slab', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}


