@import-normalize;

html {
 
  font-size: 62.5%;
  /*reset de rem*/
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5{
  font-weight: 800 !important;
}
p{
  font-weight: normal !important;
}

