@import-normalize;

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /*reset de rem*/
}

body {
  margin: 0;
  font-family: 'Roboto Slab', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}



